@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeInColor {
    from {
        color: transparent;
    }

    to {
        color: $c-dark;
    }
    
}

@keyframes expandWidth {
    from {
        transform: scaleX(0);
    }
}