.letters-animation {
    span {
        display: block;
        text-wrap: nowrap;

        span {
            display: inline-block;
            transform: translate3d(0, 30%, 0);
            opacity: 0;
            
            .active & {
                animation: letters-animation;
                animation-fill-mode: forwards;
                animation-timing-function: ease-out;
                animation-duration: 0.5s;
            }
        }
    }
}

@keyframes letters-animation {
    from {
        transform: translate3d(0, 30%, 0);
        opacity: 0;
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}