@keyframes flamingoSpin {
    from {
      transform: rotate(2deg) translateY(22%);
    }
    to {
      transform: rotate(-2deg) translateY(10%);
    }
  }

  @keyframes slideUpFlamingo {
    from {
      opacity: 0;
      transform: translate3d(-30%, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(-30%, 20%, 0);
    }
  }

  @keyframes slideUpSuitcase {
    from {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }

    to {
      opacity: 1;
      transform: translate3d(0, 20%, 0);
    }
  }

  @keyframes fadeInLeaf-1 {
    from {
      opacity: 0;
      transform: rotate(30deg) translate3d(50%, -10%, 0);
    }

    30% {
      opacity: 1;
      transform: rotate(-20deg) translate3d(50%, -10%, 0);
    }

    70% {
      opacity: 1;
      transform: rotate(10deg) translate3d(50%, -10%, 0);
    }

    80% {
      opacity: 1;
      transform: rotate(9deg) translate3d(50%, -10%, 0);
    }

    to {
      opacity: 1;
      transform: rotate(10deg) translate3d(50%, -10%, 0);
    }
  }
  @keyframes fadeInLeaf-green {
    from {
      opacity: 0;
      transform: rotate(30deg) translate3d(65%, 30%, 0);
    }

    30% {
      opacity: 1;
      transform: rotate(-20deg) translate3d(65%, 30%, 0);
    }

    70% {
      opacity: 1;
      transform: rotate(10deg) translate3d(65%, 30%, 0);
    }

    80% {
      opacity: 1;
      transform: rotate(9deg) translate3d(65%, 30%, 0);
    }

    to {
      opacity: 1;
      transform: rotate(10deg) translate3d(65%, 30%, 0);
    }
  }

  @keyframes fadeInLeaf-2 {
    from {
      opacity: 0;
      transform: rotate(-30deg) translate3d(-70%, 30%, 0);
    }

    30% {
      opacity: 1;
      transform: rotate(20deg) translate3d(-70%, 30%, 0);
    }

    60% {
      opacity: 1;
      transform: rotate(10deg) translate3d(-70%, 30%, 0);
    }

    80% {
      opacity: 1;
      transform: rotate(15deg) translate3d(-70%, 30%, 0);
    }

    90% {
      opacity: 1;
      transform: rotate(14deg) translate3d(-70%, 30%, 0);
    }

    to {
      opacity: 1;
      transform: rotate(15deg) translate3d(-70%, 30%, 0);
    }
  }
