$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;
$c-blue: #7eb1e5;
$c-dark-blue: #2a6db0;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

$screen-loaded-timing-function: cubic-bezier(.47,.11,.12,.94);
$over-expand-timing-function: cubic-bezier(.4,.49,0,1.77);

$animation-durations: ("fast": 0.2s, "medium": 0.4s, "slow": 0.6s, "delayed": 1.2s, "extraSlow": 2s, "slowest": 2.8s);

